*.pyc
job_submission/MCMC/jobs/
job_submission/SusHi/jobs/*
*.o
*.a
*.exe
*lib/*
*.pyc
*bin/
packages/HiggsBounds-5.10.1/build
packages/HiggsSignals-2.6.2/build
links/inc/
links/lib/
MCMC/job_submission/tests/
2HDM-Processor/*.txt
2HDM-Processor/*.dat
*.mod
packages/LHAPDF-6.2.1_build/
*.log
*.so
*.la
*.lo
job_submission/MCMC/tests/
