*.pyc
job_submission/MCMC/jobs/
job_submission/SusHi/jobs/*
*.o
*.a
*lib/*
*.pyc
*bin/
links/inc/
links/lib/
MCMC/job_submission/tests/
2HDM-Processor/*.txt
2HDM-Processor/*.dat
*.mod
packages/LHAPDF-6.2.1_build/
*.log
*.so
*.la
*.lo
setup_local.sh
env_local.sh
