*.pyc
packages/MG5_aMC_v3_1_0/HELAS
packages/MG5_aMC_v3_1_0/aloha
packages/MG5_aMC_v3_1_0/models
packages/MG5_aMC_v3_1_0/madgraph
packages/MG5_aMC_v3_1_0/HEPTools
packages/MG5_aMC_v3_1_0/mg5decay
packages/MG5_aMC_v3_1_0/MadSpin
packages/MG5_aMC_v3_1_0/PLUGIN
packages/MG5_aMC_v3_1_0/Template
packages/MG5_aMC_v3_1_0/bin/PROC*
packages/MG5_aMC_v3_1_0/bin/*dia*
packages/MG5_aMC_v3_1_0/bin/to
packages/MG5_aMC_v3_1_0/bin/py.py
packages/MG5_aMC_v3_1_0/tests/*
packages/MG5_aMC_v3_1_0/vendor
packages/MG5_aMC_v3_1_0/proc_card.dat
job_submission/MCMC/jobs/*
job_submission/MadGraph_jobs/jobs/*
job_submission/MadGraph_jobs/sucessful/*
job_submission/MadGraph_jobs/*.csv
job_submission/MadGraph_jobs/for_upload*
packages/2HDMC-1.8.0/SLHA_storage

*.o
*.a
*.exe
*lib/*
*.pyc
*.pyo
*bin/
packages/HiggsBounds-5.10.1/build
packages/HiggsSignals-2.6.2/build
MCMC/job_submission/tests/
2HDM-Processor/*.txt
2HDM-Processor/*.dat
*.mod
packages/LHAPDF-6.2.1_build/
*.log
*.so
*.la
*.lo
job_submission/MCMC/tests/
